body {
    background-color: antiquewhite;
}

table {

    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

td {
    border-top-style: none;
    border-top-color: black;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-color: rgb(7, 7, 7);
    border-right-style: solid;

}

div {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-style: solid;
    border-top-color: black;
    border-left-style: solid;
    border-left-color: black;
    border-bottom-style: solid;
    border-bottom-color: rgb(7, 7, 7);
    width: 500px;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-style: solid;

}

p {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;

}

#titulo-principal {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}